@charset "utf-8";
/* CSS Document */
/* content */
.slide{
	height: 500px;
}
#xemthem{
	height: 100px;
	
	width: 100px;	
	border: #000000 2px solid;
	margin-bottom: 40px ;
}

#ThongTinT{
	margin-top: 40px;
	
	padding-top: 30px;
	
}
.ttin{
	text-align: center;
}
.setbt{
	margin-bottom: 50px;
}
.morett{
	height: 100px;
	width: 100px;
}
